<ion-header>
<ion-toolbar color="primary" style="text-align: center;font-weight: 500;">
  <ion-buttons slot="start" >
    <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
  </ion-buttons>
  <ion-title>
    {{'faqs'|translate}}
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
<div class="panel-body"><div class="quest_ans">
  <h3>
    {{'faq1'|translate}}
    </h3>
    {{'faq2'|translate}}
    </div>
    <div class="quest_ans">
      <h3>
        {{'faq3'|translate}}
      </h3>
      {{'faq4'|translate}}
    </div>
    <div class="quest_ans">
      <h3>
        {{'faq5'|translate}}
      </h3>
      {{'faq6'|translate}}
    </div>
  </div>
</ion-card>
  </ion-content>