<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../../assets/imgs/mainlogo.png" width="45%" slot="start"/>
    <img src="../../../assets/imgs/fame-logo.png" width="45%" slot="end" style="margin-right: 1.5%;"/>
 </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card style="
  height: 8vh;
  background: #c7dff9;
  padding: 3%;
  FONT-SIZE: 1.2EM;
  color: black;"><ion-row>
    <ion-col size="10">Dealer Account</ion-col>
  <ion-col size="2">
    <ion-icon style="font-size: 1.5em;" name="person-circle-outline" >
</ion-icon>
</ion-col>
</ion-row>
</ion-card>
<ion-row style="padding:2% 4%;margin-left: 2%;">
  <ion-col style="height:12vh;background: #8cdbf5;border: 2px solid black;" size="5" routerLink='/dealerbuyer'>
   Total no. of buyer details
  </ion-col>
  <ion-col size="2">

  </ion-col>
  <ion-col  style="height:12vh;background: yellow;border: 2px solid black;" size="5">
    Total no. of saved sales
  </ion-col>
</ion-row>
<ion-row style="padding:2% 4%;margin-left: 2%">
  <ion-col  style="height:12vh;background: #bbb3b3;border: 2px solid black;" size="5">
    Total no. of submitted sales
  </ion-col>
  <ion-col size="2">

  </ion-col>
  <ion-col style="height:12vh;background: red;color:whitesmoke;border: 2px solid black;" size="5">
    Total no. of rejected sales
  </ion-col>
</ion-row>
<ion-row style="padding:2% 4%;margin-left: 2%">
  <ion-col style="height:12vh;background: cornflowerblue;color: whitesmoke;border: 2px solid black;" size="5">
MIS Reports
  </ion-col>
</ion-row>
</ion-content>
<ion-footer style="border:none;height: 8vh;">
  <ion-row>
    <ion-col style="text-align: center;vertical-align: middle;">Change Password</ion-col>
    <ion-col style="text-align: center;vertical-align: middle;">Update Profile</ion-col>
  </ion-row>
</ion-footer>