<ion-header>
  <ion-toolbar color="primary" style="text-align: center;font-weight: 500;">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'contact'|translate}}
    </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <table border="1" cellpadding="1" cellspacing="1" style="width:100%">
      <tbody>
        <tr>
          <td>
          <p>{{'briefwhois.name1'|translate}}</p>
    
          <p>{{'contactUs.text1'|translate}}</p>
    
          <p>{{'contactUs.text2'|translate}}: 011-23063633,23061854 {{'contactUs.text5'|translate}}:23062633</p>
    
          <p>{{'contactUs.text3'|translate}}</p>
    
          <p>{{'contactUs.text4'|translate}}: 155</p>
          </td>
          <td>
          <p>{{'briefwhois.name2'|translate}}</p>
    
          <p>{{'briefwhois.designation2'|translate}}</p>
    
          <p>{{'contactUs.text2'|translate}}: 011-23063733</p>
    
          <p>{{'contactUs.text6'|translate}}: fame.india@gov.in</p>
    
          <p>{{'contactUs.text3'|translate}}</p>
    
          <p>&nbsp;{{'contactUs.text4'|translate}}: 183</p>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>
          <p>&nbsp;</p>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-card>
</ion-content>