<ion-header>
  <ion-toolbar color="primary" style="text-align: center;font-weight: 500;">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'fame2Depo'|translate}}
    </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card>
    <table border="1" cellspacing="0" class="Table">
      <tbody>
        <tr>
          <td>
          <p><strong>{{'fame2Dep.text1'|translate}}</strong></p>
          </td>
          <td>
          <p><strong>{{'fame2Dep.text2'|translate}}e</strong></p>
          </td>
          <td>
          <p><strong>{{'fame2Dep.text3'|translate}}</strong></p>
          </td>
          <td>
          <p><strong>{{'fame2Dep.text4'|translate}}</strong></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>1</p>
          </td>
          <td>
          <p>{{'fame2Dep.text5'|translate}}</p>
          </td>
          <td>
          <p>06 {{'fame2Dep.text32'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/DHI OM on Phased Manufacturing Programme 6 March.pdf" target="_blank">{{'fame2Dep.text41'|translate}}<img src="../../../assets/imgs/pdf-icon.jpeg" title="View Document" width="15" alt="View Document" height="15">(791  Kb)</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>2</p>
          </td>
          <td>
          <p>{{'fame2Dep.text6'|translate}}</p>
          </td>
          <td>
          <p>08 {{'fame2Dep.text32'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/publicationNotificationFAME II 8March2019.pdf" target="_blank">{{'fame2Dep.text41'|translate}}<img src="../../../assets/imgs/pdf-icon.jpeg" title="View Document" width="15" alt="View Document" height="15">(  2  Mb)oad</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>3</p>
          </td>
          <td>
          <p>{{'fame2Dep.text7'|translate}}</p>
          </td>
          <td>
          <p>22 {{'fame2Dep.text32'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Operational Guidelien FAME PHASE-II.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>4</p>
          </td>
          <td>
          <p>{{'fame2Dep.text8'|translate}}</p>
          </td>
          <td>
          <p>28 {{'fame2Dep.text32'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/DHI_8_SO2068(E )_21062019.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>5</p>
          </td>
          <td>
          <p>{{'fame2Dep.text9'|translate}}</p>
          </td>
          <td>
          <p>28 {{'fame2Dep.text32'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Techanical eligibility criteria under FAME-II.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>6</p>
          </td>
          <td>
          <p>{{'fame2Dep.text10'|translate}}</p>
          </td>
          <td>
          <p>29 {{'fame2Dep.text32'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/PMP 29 March.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>7</p>
          </td>
          <td>
          <p>{{'fame2Dep.text11'|translate}}</p>
          </td>
          <td>
          <p>29 {{'fame2Dep.text32'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Notification dated 28 MARCH.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>8</p>
          </td>
          <td>
          <p>{{'fame2Dep.text12'|translate}}</p>
          </td>
          <td>
          <p>29 {{'fame2Dep.text33'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/revisedPMP29April2019.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>9</p>
          </td>
          <td>
          <p>{{'fame2Dep.text13'|translate}}</p>
          </td>
          <td>
          <p>02 {{'fame2Dep.text34'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/clarificatoryOrder for PMP.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>10</p>
          </td>
          <td>
          <p>{{'fame2Dep.text14'|translate}}</p>
          </td>
          <td>
          <p>17 {{'fame2Dep.text34'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/revisedWarrantyAmendment17May2019.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>11</p>
          </td>
          <td>
          <p>{{'fame2Dep.text15'|translate}}</p>
          </td>
          <td>
          <p>17 {{'fame2Dep.text34'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/DHI_revisioninservicecentres.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>12</p>
          </td>
          <td>
          <p>{{'fame2Dep.text16'|translate}}</p>
          </td>
          <td>
          <p>28 {{'fame2Dep.text34'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Guidelines for FAME II Eligibility Assessment Procedure.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>13</p>
          </td>
          <td>
          <p>{{'fame2Dep.text17'|translate}}</p>
          </td>
          <td>
          <p>04 {{'fame2Dep.text35'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Final EOI 04 June 2019 Published.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>14</p>
          </td>
          <td>
          <p>{{'fame2Dep.text18'|translate}}</p>
          </td>
          <td>
          <p>14 {{'fame2Dep.text36'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Govt Purchase under FAME II.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>15</p>
          </td>
          <td>
          <p>{{'fame2Dep.text19'|translate}}</p>
          </td>
          <td>
          <p>28 {{'fame2Dep.text36'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Revised- Expression of Interest for charging station.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>16</p>
          </td>
          <td>
          <p>{{'fame2Dep.text20'|translate}}</p>
          </td>
          <td>
          <p>29 {{'fame2Dep.text37'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/CORRIGENDUM for M2 Category.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>17</p>
          </td>
          <td>
          <p>{{'fame2Dep.text21'|translate}}</p>
          </td>
          <td>
          <p>29 {{'fame2Dep.text37'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/DHI_9_CORRIGENDUM for 4W_29102019_vehicle segment.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>18</p>
          </td>
          <td>
          <p>{{'fame2Dep.text22'|translate}}</p>
          </td>
          <td>
          <p>19 {{'fame2Dep.text38'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/DHI_10 Corrigendum_19112019_ ebus.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>19</p>
          </td>
          <td>
          <p>{{'fame2Dep.text23'|translate}}</p>
          </td>
          <td>
          <p>23 {{'fame2Dep.text39'|translate}}, 2019</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/guideline.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>20</p>
          </td>
          <td>
          <p>{{'fame2Dep.text24'|translate}}</p>
          </td>
          <td>
          <p>17 {{'fame2Dep.text32'|translate}}, 2020</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Re-validation of all vehicle.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>21</p>
          </td>
          <td>
          <p>{{'fame2Dep.text25'|translate}}</p>
          </td>
          <td>
          <p>27 {{'fame2Dep.text33'|translate}}, 2020</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Validity Extension FAME_II dated 27.04.2020.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>22</p>
          </td>
          <td>
          <p>{{'fame2Dep.text26'|translate}}</p>
          </td>
          <td>
          <p>13 {{'fame2Dep.text34'|translate}}, 2020</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Revised pmp13th May 2020.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>23</p>
          </td>
          <td>
          <p>{{'fame2Dep.text27'|translate}}</p>
          </td>
          <td>
          <p>23 {{'fame2Dep.text40'|translate}}, 2020</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Extension of Timeline_ new.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>24</p>
          </td>
          <td>
          <p>{{'fame2Dep.text28'|translate}}</p>
          </td>
          <td>
          <p>29 {{'fame2Dep.text40'|translate}}, 2020</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/PMP 29Spet20.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>25</p>
          </td>
          <td>
          <p>{{'fame2Dep.text29'|translate}}</p>
          </td>
          <td>
          <p>12 {{'fame2Dep.text33'|translate}} 2021</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Extension for validity of FAME-II Certificates.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>26</p>
          </td>
          <td>
          <p>{{'fame2Dep.text30'|translate}}</p>
          </td>
          <td>
          <p>11 {{'fame2Dep.text35'|translate}} 2021</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/227493.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
        <tr>
          <td>
          <p>27</p>
          </td>
          <td>
          <p>{{'fame2Dep.text31'|translate}}</p>
          </td>
          <td>
          <p>25 {{'fame2Dep.text35'|translate}} 2021</p>
          </td>
          <td>
          <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in//WriteReadData/userfiles/Gazette for Scheme Extension.pdf" target="_blank">{{'fame2Dep.text41'|translate}}</a></p>
          </td>
        </tr>
      </tbody>
    </table>
  </ion-card>
</ion-content>