<ion-header>
  <ion-toolbar color="primary" style="text-align: center;font-weight: 500;">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'connect'|translate}}
    </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header>
    <div id="nav">
      <nav id="brf1" (click)="show('1')" >{{'connectForm.text1'|translate}} </nav>
      <nav (click)="show('2')">{{'connectForm.text2'|translate}} </nav>
    </div>
  </ion-card-header>
  <ion-card-content >
<ion-card style="margin-left:6vw;width:80vw;margin-top: 5vh;padding:4% 2%;background: #f8f4f48f;">
  <ion-card-header ><h4 style="color:black;font-size:1.5em">{{title | translate}} {{'connectForm.text3'|translate}}</h4></ion-card-header>
  <form>
<ion-label style="font-size: 1.2em;font-weight: 500;">
  {{'connectForm.text4'|translate}}
</ion-label>
<ion-input style="border: 1px solid rgb(108, 175, 8);background: white">

</ion-input>
<ion-label style="font-size: 1.2em;font-weight: 500;">
  {{'connectForm.text5'|translate}}
</ion-label>
<ion-input style="border: 1px solid rgb(108, 175, 8);background: white">
  
</ion-input>
<ion-label style="font-size: 1.2em;font-weight: 500;">
  {{'connectForm.text6'|translate}}
</ion-label>
<ion-input style="border: 1px solid rgb(108, 175, 8);background: white">
  
</ion-input>
<ion-label style="font-size: 1.2em;font-weight: 500;">
  {{'connectForm.text7'|translate}}
</ion-label>
<ion-input style="border: 1px solid rgb(108, 175, 8);background: white">
  
</ion-input>
<ion-label style="font-size: 1.2em;font-weight: 500;">
  {{'connectForm.text8'|translate}}
</ion-label>
<ion-input style="border: 1px solid rgb(108, 175, 8);background: white">
  
</ion-input>
<ion-label style="font-size: 1.2em;font-weight: 500;">
  {{title |translate}}
</ion-label>
<textarea style="border: 1px solid rgb(108, 175, 8);background: white; width:98%">
  
</textarea>
<ion-label style="font-size: 1.2em;font-weight: 500;">
  {{'connectForm.text9'|translate}}
</ion-label>
<ion-input style="border: 1px solid rgb(108, 175, 8);background: white">
  
</ion-input>
<ion-input style="border: 1px solid red;color:rgb(62, 99, 6);font-size: 1.5em;width:50%;display: inline-block;" readonly value="76U0"></ion-input><ion-icon style="font-size:2.5em;color:purple" name="refresh-outline"></ion-icon>
 
<p style="color:red;font-size:1.03em">{{'connectForm.text10'|translate}}</p>
<ion-button style="border: 1px solid rgb(103, 138, 50);--background:#20c938;width: 40vw;">{{'connectForm.text11'|translate}}</ion-button>
</form>

</ion-card>
</ion-card-content>
</ion-card>
  </ion-content>