<ion-header>
  <ion-toolbar color="primary" style="text-align: center;font-weight: 500;">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'pressrel'|translate}}
    </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card style="padding:2%;">
  <table border="1" cellspacing="0" class="Table">
    <tbody>
      <tr>
        <td>
        <p><strong>{{'pressRel.text1'|translate}}</strong></p>
        </td>
        <td>
        <p><strong>{{'pressRel.text2'|translate}}</strong></p>
        </td>
        <td>
        <p><strong>{{'pressRel.text3'|translate}}</strong></p>
        </td>
        <td>
        <p><strong>{{'pressRel.text4'|translate}}</strong></p>
        </td>
      </tr>
      <tr>
        <td>
        <p>1</p>
        </td>
        <td>
        <p>{{'pressRel.text5'|translate}}</p>
        </td>
        <td>
        <p>08 {{'pressRel.text6'|translate}}, 2019</p>
        </td>
        <td>
        <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in/WriteReadData/userfiles/Press Release for Buses.pdf" target="_blank">
          {{'pressRel.text11'|translate}}<img src="../../../assets/imgs/pdf-icon.jpeg" title="View Document" width="15" alt="View Document" height="15">(1011  Kb)
        </a></p>
        </td>
      </tr>
      <tr>
        <td>
        <p>2</p>
        </td>
        <td>
        <p>{{'pressRel.text7'|translate}}</p>
        </td>
        <td>
        <p>03 {{'pressRel.text8'|translate}}, 2020</p>
        </td>
        <td>
        <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in/WriteReadData/userfiles/Press Release for Charging Infrastructiure.pdf" target="_blank">{{'pressRel.text11'|translate}}</a></p>
        </td>
      </tr>
      <tr>
        <td>
        <p>3</p>
        </td>
        <td>
        <p>{{'pressRel.text9'|translate}}</p>
        </td>
        <td>
        <p>25 {{'pressRel.text10'|translate}}, 2020</p>
        </td>
        <td>
        <p>&nbsp;<a href="https://fame2.heavyindustry.gov.in/WriteReadData/userfiles/Press_Release_sep.pdf" target="_blank">{{'pressRel.text11'|translate}}</a></p>
        </td>
      </tr>
    </tbody>
  </table>
</ion-card>
</ion-content>