<ion-header>
  <ion-toolbar color="primary" style="text-align: center;font-weight: 500;">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="home" style="color:#fff;"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{'impLink'|translate}}
    </ion-title>
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card style="padding:2%">
  <div class="content-div">
    <h3 id="mainContent_hparentId" class="page_heading"></h3>
    <p><a href="https://dhi.nic.in/" target="_blank">{{'impLinks.text1'|translate}}</a></p>

<p><a href="http://www.siam.in/" target="_blank">{{'impLinks.text2'|translate}}</a></p>

<p><a href="https://dbtbharat.gov.in/" target="_blank">{{'impLinks.text3'|translate}}</a></p>

<p><a href="https://www.india.gov.in/" target="_blank">{{'impLinks.text4'|translate}}</a></p>

<p><a href="https://www.nic.in/">{{'impLinks.text5'|translate}}</a></p>

<p><a href="https://cloud.gov.in/">{{'impLinks.text6'|translate}}</a></p>

<p><a href="https://www.icat.in/">{{'impLinks.text7'|translate}}</a></p>

<p><a href="https://www.araiindia.com/home">{{'impLinks.text8'|translate}}</a></p>

<p><a href="https://www.natrip.in/">{{'impLinks.text9'|translate}}</a></p>

</div>
</ion-card>
</ion-content>