// div.modal-wrapper{
//     --background: var(--ion-background-color,transparent);
//   }
//   .ion-overlay-wrapper,.sc-ion-modal-mg{
//     background: transparent;
//   }
.menu-inner{
    height: 457px;
    width: 192px;
}
.my-custom-menu {
    --width: 230px;
    --height:450px;
    position: fixed;
    top: 10%;
    left: 11px;
    //--border:1px solid black;
  }
  p:hover{
      background-color: blue;
  }
  ion-item{
      --background-hover:blue;
  }