<!-- <ion-content class="login-content" style="--background: radial-gradient(circle, #eef0ea, #cfd5c4, #b1bb9f, #94a27b, #778959);" padding> -->
  <ion-content style="width:80vw;height:70vh" class="login-content" style="--background: radial-gradient(circle, #476b6b, #3d5c5c, #334d4d,#293d3d,#1f2e2e);" >
    <!-- <ion-content  class="login-content" style="--background:transparent"  > -->

  <div class="logo-row" style="padding: 0;" >
    <!-- <ion-col></ion-col>
    <ion-col width-67> -->
      <!-- <div style=" background: #091110;" > -->
      <img src="assets/imgs/logo1rm.png" height="280px"  />
    <!-- </div> -->
      <!-- </ion-col>
        
    <ion-col></ion-col> -->
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
    <ion-card style="padding:10px; font-size: 1.4em; background: rgba(2, 2, 2, 0.2); border:1px solid black;color:white">{{'impLinks.text1'|translate}}</ion-card>
  </div>
    </div>
    
</ion-content>
